img {
    /*width: 400px;
    /*height: 400px;*/
    max-width: 500px;
    min-width: 100px;
    height: auto;
    border: 3px solid green;
    border-radius: 5%;
    display: inline;

}

h1 {
    position: relative;
    top: 10px;
    left: 35px;
}